@charset "utf-8";
/*** The CSS to format the jQuery sliding navigation menus ***/

/*** Make non-travelable links in navigation black ***/
#content-wrap #nav a {
	color:#0083d6;
}
/*** Removes the old bullets and adds background images to allow for more
 *** complete control ***/
#content-wrap #nav ul {
	list-style-image: none;
}
/*** The formatting for normal navigation items ***/
#content-wrap #nav li.nav-normal {
/*	background-image: url(bulletbkgnd.gif);*/
	background-image:none;
	background-position: right;
	background-repeat: no-repeat ! important;
}
/* Removes the normal bullet to make way for the drop-down arrows */
#content-wrap #nav ul li.nav-heading {
	background: none;
}
/*** The formatting for the normal navigation ***/
#content-wrap #nav ul li.nav-normal > a {
	color:#0083d6;
}
/*** The formatting for the navigation headings ***/
#content-wrap #nav ul li.nav-heading > a{
	/* Place the new background bullet to the left of the heading */
	background-position:center left;
	background-repeat: no-repeat;
/*	padding-left: 1.25em;
	display:block;
	margin-right: -10px;
	padding-right: 30px;*/
	/* Defines how a navigation heading will display */
	color:#0083d6;
/*	font-weight:bold;*/
	cursor:pointer;
	text-decoration: none;
}
/*** Defines which bullet images will be used for unexpanded and
 *** expanded navigation headings. ***/
#content-wrap #nav ul li.nav-heading > a.unexpanded{
/*	background-image: url('/map/bldgs/resources/arrowright.gif');
	background-image: url('/map/bldgs/resources/arrowright2.gif');*/
	background-image: url('arrow_rt.png');
	}
#content-wrap #nav ul li.nav-heading > a.expanded{
/*	background-image: url('/map/bldgs/resources/arrowdown.gif');
	background-image: url('/map/bldgs/resources/arrowdown2.gif');*/
	background-image: url('arrow_down.png');

}

/*** Put here what you want to happen when the user hovers over an unexpanded heading ***/
#content-wrap #nav ul li.nav-heading > a.unexpanded:hover {
	text-decoration: underline;
	color: #ffc61e;
}
/*formatting for sliding drawers*/
h3.slider  {
	background-image: url('arrow_rt.png');
	background-position:center left;
	background-repeat: no-repeat;
	cursor:pointer;
	padding-left: 1.5em;
	}
h3.slider.open {
	background-image: url('arrow_down.png');

	}
