html,body,#container,.map.container{
	padding:0;
	margin:0;
	height:100%;
	font-family: 'Muli',arial,sans-serif;
}

.shadow {
	-moz-box-shadow: 0 0 10px 5px #999;
	-webkit-box-shadow: 0 0 10px 5px #999;
	box-shadow: 0 0 10px 5px #999;
}

#wwu_logo {
	background:url("../images/westernlogobluesm.png")0 0 no-repeat;
	position: absolute;
	left: .01em;
	top: 4em;
	height:89px;
	width: 157px;
	z-index: 50;
}


#isia_logo {
    background: url("../images/logo_huxley_spatial.png") no-repeat scroll 0 0 transparent;
    bottom: 0.3em;
    height: 39px;
    position: absolute;
    right: 0.3em;
    width: 186px;
	z-index: 50;
}

#map_info {
	position: absolute;
	right: 10px;
	top: 9px;
	text-align: center;
	color: #0084d6;
	text-decoration: none;
	font-size: 14px;
	width: 80px;
}

#title {
    color: #FFC61E;
    font-family: 'Muli',arial,sans-serif;
    font-size: 1.6em;
    left: 0.2em;
    position: absolute;
    top: 0.1em;
}

#header {
	position:absolute;
	top: 0;
	height: 60px;
	left:0;
	right: 0;
	background-color: #003F87;
	z-index:100;
}


#map {
	position:absolute;
	top: 60px;
	bottom: 0;
	left:0;
	right: 0;
	z-index:50;
	background-color: #E0E0E0;
}

#button_legend {
	top: 44px;
	left: 40px;
	width: 130px;
	padding: 4px;
}

#button_features {
	top: 16px;
	right: 400px;
}

#button_buildings {
	top: 32px;
	right: 235px;
}

#button_services {
	top: 5px;
	right: 235px;
}

#button_places {
	top: 5px;
	right: 100px;
}

#button_departments {
	top: 32px;
	right: 100px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.arrow-up {
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -2px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
}

.arrow-down {
	position: absolute;
	top: 50%;
	right: 5px;
	margin-top: -2px;
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #fff;
}

.button {
	position:absolute;
	width: 125px;
	text-align:center;
	-moz-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #97c4fe;
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3d94f6), color-stop(1, #0084d6) );
	background:-moz-linear-gradient( center top, #3d94f6 5%, #0084d6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#0084d6');
	background-color:#3d94f6;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #337fed;
	display:inline-block;
	color:#ffffff;
	font-family: 'Muli',arial,sans-serif;
	font-size:15px;
	font-weight:bold;
	padding:1px;
	text-decoration:none;
	text-shadow:1px 2px 0px #1570cd;
	cursor: pointer;
}

.button:hover {
	background:none;
	background:none;
	filter:none;
	text-shadow:1px 2px 0px #707070;
	background-color:#ffc61e;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

.menu {
	position: absolute;
	background-color: #003F87;
	border: 2px solid #FFC61E;
	color: #fff;
}

#legend {
	position: absolute;
	top: 75px;
	left:40px;
	width: 480px;
	height: 637px;
	background-image: url('../images/legend_480.png');
}

#features_select_box {
	right:346px;
	top: 60px;
}

#features_select_box  ul{
	
	margin: 0;
	padding: 2px;
	padding-right:6px;
	list-style: none;
	float: left;
}
#features_select_box  li label{
	cursor: pointer;
}

#services_select_box {
	width: 250px;
	height: 300px;
	top: 60px;
	right: 235px;
	overflow: auto;
}

#buildings_select_box {
	width: 250px;
	height: 300px;
	top: 60px;
	right: 235px;
	overflow: auto;
	color: #fff;
}

#places_select_box {
	width: 250px;
	height: 300px;
	top: 60px;
	right: 100px;
	overflow: auto;
}

#departments_select_box {
	width: 250px;
	height: 300px;
	top: 60px;
	right: 100px;
	overflow: auto;
}

.menu_item {
	cursor: pointer;
	padding: 1px 10px;
}

.menu_item:hover {
	background-color: #0084d6;
}

#map_zoom_slider {
	position: absolute;
	left: auto;
	right: 10px;
}

@media all and (max-width: 800px) {
	#buttons {
		float: right;
	}
	
	#isia_logo  {
		display: none;
	}

	#wwu_logo {
		display: none;
	}
	
	.esriScalebar{
		display: none !important;
	}
	
	#header {
		background-color: #003F87;
		height: 30px;
	}
	
	#map {
	position:absolute;
	top: 30px;
	}
	
	#title {
		top: 3px;
		font-size: 1.3em;
	}
	
	.button {
		border: none;
		box-shadow: none;
		width: 25px;
		height: 25px;
		padding: 0px;
		text-indent: -9999px;
		white-space: nowrap;
		top: 3px;
		position: relative;
		float: left;
		left: auto;
		right: auto;
		padding-right: 10px;
	}
	
	#button_legend {
		padding: 0px;
		width: 25px;
		top: 3px;
		left: auto;
		right: auto;
		background: url('../images/icons/noun_project_1313.png') 0 0 no-repeat; 
	}
	
	#button_features {
		top: 3px;
		left: auto;
		right: auto;
		background: url('../images/icons/noun_project_431.png') 0 0 no-repeat; 
	}
	
	#button_departments {
		top: 3px;
		left: auto;
		right: auto;
		background: url('../images/icons/noun_project_2574.png') 0 0 no-repeat; 
		background-size: 25px 25px;
	}
	
	#button_places {
		top: 3px;
		left: auto;
		right: auto;
		background: url('../images/icons/noun_project_711.png') 0 0 no-repeat; 
	}
	
	#button_buildings {
		top: 3px;
		left: auto;
		right: auto;
		background: url('../images/icons/noun_project_3129.png') 0 0 no-repeat; 
	}
	
	#button_services {
		top: 3px;
		left: auto;
		right: auto;
		background: url('../images/icons/noun_project_4738.png') 0 0 no-repeat; 
	}
	
	#map_info {
		top: 3px;
		left: auto;
		right: auto;
		background: url('../images/icons/noun_project_1128.png') 0 0 no-repeat; 
		text-indent: -9999px;
		width: 25px;
		height: 25px;
		padding: 0px;
		position: relative;
		display: inline-block;
	}
	
	.arrow-up {
		display: none;
	}
	
	.arrow-down {
		display: none;
	}
	
	#features_select_box {
		right:0px;
		top: 30px;
	}

	#services_select_box {
		right:0px;
		top: 30px;
	}

	#buildings_select_box {
		right:0px;
		top: 30px;
	}

	#places_select_box {
		right:0px;
		top: 30px;
	}

	#departments_select_box {
		right:0px;
		top: 30px;
	}
	
	#legend {
		left: auto;
		right:0px;
		top: 30px;
	}
	
}

@media all and (max-width: 450px) {
	#title {
		display:none;
	}
	
	#buttons {
		position: absolute;
		width: 225px;
		left:50%;
		margin-left: -112px;
	}
	
	#legend {
		width: 320px;
		height: 425px;
		background-image: url('../images/legend_320.png');
	}
	
	#features_select_box {
		right:auto;
		left:0;
		top: 30px;
	}

	#services_select_box {
		right:auto;
		left:0;
		top: 30px;
	}

	#buildings_select_box {
		right:auto;
		left:0;
		top: 30px;
	}

	#places_select_box {
		right:auto;
		left:0;
		top: 30px;
	}

	#departments_select_box {
		right:auto;
		left:0;
		top: 30px;
	}
	
	
	
}

@media all and (max-width: 310px) {

#legend{
	width: 250px;
	height: 332px;
	background-image: url('../images/legend_250.png');
}

#buttons {
		position: absolute;
		width: 225px;
		left:0;
		margin-left: 5px;
	}
}
